<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="youssef.kecheima.topchat_v12">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/my_logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/my_logo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TopChat_v12">
        <activity android:name=".Search.SearchFriendsActivity"></activity>
        <activity android:name=".Settings.FriendProfileActivity" />
        <activity android:name=".Settings.DisplayPictureActivity" />
        <activity android:name=".Settings.UserProfileActivity" />
        <activity android:name=".Message.MessageActivity" />
        <activity android:name=".Settings.SettingsActivity" />
        <activity
            android:name=".Main.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Auth.RegesterActivity"
            android:label="@string/Create_New_Account"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".Auth.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".Notifications.FirebaseMessaging"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"/>
        </provider>
    </application>
</manifest>